<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.additionalfeatures"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

<!-- Permissions -->
 <uses-permission android:name="android.permission.INTERNET" />    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.additionalfeatures.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.additionalfeatures.VoiceControl" android:label="Voice Control" />
        <activity android:name="com.example.additionalfeatures.GestureControl" android:label="Gesture Control" />
        <activity android:name="com.example.additionalfeatures.QRCodes" android:label="QR Codes" />
        
    </application>

</manifest>
